import avro from "avsc";
import { Buffer } from "buffer";

export const ONE_DAY_IN_MILLIS: number;

export class DateType extends avro.types.LogicalType {
    _fromValue(val: number): Date;
    _toValue(date: Date): number;
    _resolve(type: avro.Type): ((v: number) => Date) | undefined;
}

export class TimestampMillisType extends avro.types.LogicalType {
    _fromValue(val: number | string): Date;
    _toValue(date: Date): number;
    _resolve(type: avro.Type): ((v: number | string) => Date) | undefined;
}

export class DurationType extends avro.types.LogicalType {
    _fromValue(val: Buffer): { months: number, days: number, millis: number };
    _toValue(val: { months: number, days: number, millis: number }): Buffer;
}

export const _logicalTypes: {
    "date": avro.types.LogicalType,
    "timestamp-millis": avro.types.LogicalType,
    "duration": avro.types.LogicalType,
    "uuid": avro.types.LogicalType,
}
