import avro from "avsc";

const ONE_DAY_IN_MILLIS = 1000 * 60 * 60 * 24;

export class DateType extends avro.types.LogicalType {
    _fromValue(val) {
        return new Date(val * ONE_DAY_IN_MILLIS);
    }
    _toValue(date) {
        return Math.floor(date.valueOf() / ONE_DAY_IN_MILLIS);
    }
    _resolve(type) {
        if (avro.Type.isType(type, "int", "logical:days")) {
            return this._fromValue;
        } else {
            return undefined;
        }
    }
}

export class TimestampMillisType extends avro.types.LogicalType {
    _fromValue(val) {
        return new Date(val);
    }
    _toValue(date) {
        return date.valueOf();
    }
    _resolve(type) {
        if (avro.Type.isType(type, "int", "long", "string", "logical:timestamp-millis")) {
            return this._fromValue;
        } else {
            return undefined;
        }
    }
}

export const _logicalTypes = {
    "date": DateType,
    "timestamp-millis": TimestampMillisType
}
