{
  "name": "{{ package.name | kebab_case }}",
  "version": "{{ package.version }}",
  "files": [
    "dist/**/*",
    "browser/**/*"
  ],
  "exports": {
{%- for namespace in params.namespaces %}
{%- if namespace | length == 0 %}
    ".": "./dist/types.mjs",
{%- else %}
    "./{{ namespace | replace(from=".", to="/") }}": "./dist/{{ namespace | replace(from=".", to="/")}}/types.mjs",
{%- endif %}
{%- endfor %}
    "./_io": "./dist/_io.mjs"
  },
  "peerDependencies": {
    "avsc": "^5.7.9",
    "uuid": "^13.0.0"
  },
  "devDependencies": {
    "@types/node": "^25.0.10",
    "typescript": "^5.9.3"
  }
}
