{
  "name": "{{ package.name | kebab_case }}",
  "version": "{{ package.version }}",
  "files": [
    "dist/**/*"
  ],
  "exports": {
{% for namespace in params.namespaces -%}
{% if namespace | length == 0 -%}
  {# #}    ".": "./dist/node/types.mjs",
{% else -%}
  {# #}    "./{{ namespace | replace(from=".", to="/") }}": "./dist/node/{{ namespace | replace(from=".", to="/")}}/types.mjs",
{% endif -%}
{% endfor -%}
{# #}    "./_rw": "./dist/node/_rw.mjs"
  },
  "browser": {
{% for namespace in params.namespaces -%}
{% if namespace | length == 0 -%}
  {# #}    ".": "./dist/browser/types.mjs",
{% else -%}
  {# #}    "./{{ namespace | replace(from=".", to="/") }}": "./dist/browser/{{ namespace | replace(from=".", to="/")}}/types.mjs",
{% endif -%}
{% endfor -%}
{# #}    "./_rw": "./dist/browser/_rw.mjs"
  },
  "dependencies": {
    "avsc": "^5.7.9",
    "uuid": "^13.0.0"
  },
  "devDependencies": {
    "@types/node": "^25.0.10",
    "typescript": "^5.9.3"
  }
}
