import avro from 'avsc';

/**
 * Custom logical type used to encode native Date objects as longs.
 *
 * It also supports reading dates serialized as strings (by creating an
 * appropriate resolver).
 *
 */
export class TimestampMillisType extends avro.types.LogicalType {
    _fromValue(val: number | string): Date {
        return new Date(val);
    }
    _toValue(date: Date): number {
        return date.valueOf();
    }
    _resolve(type: avro.Type): ((v: number | string) => Date) | undefined {
        if (avro.Type.isType(type, 'long', 'string', 'logical:timestamp-millis')) {
            return this._fromValue;
        } else {
            return undefined;
        }
    }
}

export const _logicalTypes = {
    "timestamp-millis": TimestampMillisType
}
