{% import "types.tera" as types -%}

import avro from "avsc";

{% macro rel_path_prefix(namespace) -%}
{%- if namespace == "" -%}
    .
{%- else -%}
    {% for _ in namespace | split(pat=".") %}..{% if not loop.last %}/{% endif %}{% endfor %}
{%- endif -%}
{% endmacro -%}

{% for ref in params.refs -%}
{% if ref.namespace != params.namespace -%}
import type { {{ ref.name | title_case }} as {% if ref.namespace != "" %}{{ ref.namespace | replace(from=".", to="_") }}_{% endif %}{{ ref.name | title_case }} } {# -#}
from "{{ self::rel_path_prefix(namespace=params.namespace) }}/{{ ref.namespace | replace(from=".", to="/") }}{% if ref.namespace | length > 0 %}/{% endif %}types.mts"
{% endif -%}
{% endfor -%}

{% for schema in params.schemas -%}
// Schema for {{ schema.name }}

{% if schema.type == "record" -%}
export interface {{ schema.name | title_case }} {
{% for field_schema in schema.fields -%}
{#    #}    {{ field_schema.name }}: {{ types::render_type(schema=field_schema.type, from_namespace=params.namespace, is_node=params.is_node) }},
{% endfor -%}
}
{% elif schema.type == "enum" -%}
export type {{ schema.name }} = {% for symbol in schema.symbols %}"{{ symbol }}"{% if not loop.last %} | {% endif %}{% endfor %};
{% elif schema.type == "fixed" -%}
export type {{ schema.name }} = Uint8Array;
{% endif %}

export const {{ schema.name | const_case }}_SCHEMA: avro.Type;
{% endfor -%}
