{% macro render_type(schema, from_namespace, is_node) -%}
{%- if schema.logical_type is defined and schema.logical_type == "decimal" -%}
    {%- if is_node -%}Buffer{%- else -%}Uint8Array{%- endif -%}
{%- elif schema.logical_type is defined and schema.logical_type == "big-decimal" -%}
    {%- if is_node -%}Buffer{%- else -%}Uint8Array{%- endif -%}
{%- elif schema.logical_type is defined and schema.logical_type == "duration" -%}
    Buffer
{%- elif schema.logical_type is defined and schema.logical_type == "uuid" -%}
    string
{%- elif schema.logical_type is defined and schema.logical_type == "date" -%}
    Date
{%- elif schema.logical_type is defined and (schema.logical_type == "time-millis" or schema.logical_type == "time-micros") -%}
    number
{%- elif schema.logical_type is defined and (schema.logical_type == "timestamp-micros" or schema.logical_type == "timestamp-nanos") -%}
    number
{%- elif schema.logical_type is defined and (schema.logical_type == "timestamp-millis") -%}
    Date
{%- elif schema.logical_type is defined and (schema.logical_type == "local-timestamp-millis" or schema.logical_type == "local-timestamp-micros" or schema.logical_type == "local-timestamp-nanos") -%}
    number
{%- elif schema.type is not defined -%}
    {{ schema }}
{%- elif schema.type == "null" -%}
    null
{%- elif schema.type == "boolean" -%}
    boolean
{%- elif schema.type == "int" -%}
    number
{%- elif schema.type == "long" -%}
    number
{%- elif schema.type == "float" -%}
    number
{%- elif schema.type == "double" -%}
    number
{%- elif schema.type == "bytes" -%}
    {%- if is_node -%}Buffer{%- else -%}Uint8Array{%- endif -%}
{%- elif schema.type == "string" -%}
    string
{%- elif schema.type == "array" -%}
    Array<{{ self::render_type(schema=schema.items, from_namespace=from_namespace, is_node=is_node) }}>
{%- elif schema.type == "map" -%}
    { [key: string]: {{ self::render_type(schema=schema.values, from_namespace=from_namespace, is_node=is_node) }} }
{%- elif schema.type == "union" -%}
    {%- for variant in schema.variants -%}
        {%- if variant.type == "null" -%}
            null
        {%- else -%}
            { {{ variant.type }}: {{ self::render_type(schema=variant, from_namespace=from_namespace, is_node=is_node) }} }
        {%- endif -%}
        {%- if not loop.last %} | {% endif -%}
    {%- endfor -%}
{%- elif schema.type == "ref" -%}
    {% if schema.namespace != "" and schema.namespace != from_namespace %}{{ schema.namespace | replace(from=".", to="_") }}_{% endif %}{{ schema.name | title_case }}
{%- elif schema.type == "fixed" -%}
    {%- if is_node -%}Buffer{%- else -%}Uint8Array{%- endif -%}
{%- else -%}
    unknown /* unknown type: {{ schema.type }} */
{%- endif -%}
{% endmacro -%}
