{% import "types.tera" as types -%}

{% if params.schemas | length > 0 -%}
use std::io::{Read, Write};

use apache_avro::{AvroResult, AvroSchema, schema::Schema};
use lazy_static::lazy_static;
use serde::{Deserialize, Serialize};
use serde_json::json;
{% endif -%}

{% for mod in params.submodules -%}
pub mod {{ mod }};
{% endfor -%}

{% macro render_record_field(name, schema) -%}
{% if schema.logical_type is defined and schema.logical_type == "duration" -%}
{# #}    #[serde(with="crate::_io::duration_serde")]
{% elif schema.logical_type is defined and schema.logical_type == "big-decimal" -%}
{# #}    #[serde(with="apache_avro::serde::bigdecimal")]
{% elif schema.logical_type is not defined and schema.type == "bytes" or schema.type == "fixed" -%}
{# #}    #[serde(with="serde_bytes")]
{% endif -%}
{% if name != name | snake_case -%}
{# #}    #[serde(rename="{{ name }}")]
{% endif -%}
{# #}    pub {{ name | snake_case }}: {{ types::render_type(schema=schema) }},
{% endmacro render_record_field -%}


{% for schema in params.schemas -%}
{% if schema.type == "record" -%}
#[derive(Serialize, Deserialize, Debug, PartialEq)]
pub struct {{ schema.name }} {
{% for field in schema.fields -%}
    {{ self::render_record_field(name=field.name, schema=field.type) -}}
{% endfor -%}
}
{% elif schema.type == "fixed" -%}
#[derive(Serialize, Deserialize, Debug, PartialEq)]
#[serde(transparent)]
pub struct {{ schema.name }}(
{% if schema.logical_type is defined and schema.logical_type == "duration" -%}
{# #}    #[serde(with="crate::_io::duration_serde")]
{% elif schema.logical_type is not defined -%}
{# #}    #[serde(with="serde_bytes")]
{% endif -%}
{# #}    pub {{ types::render_type(schema=schema) }}
);
{% elif schema.type == "enum" -%}
#[derive(Serialize, Deserialize, Debug, PartialEq)]
pub enum {{ schema.name }} {
{% for symbol in schema.symbols -%}
{# #}    #[serde(rename="{{ symbol }}")]
{# #}    {{ symbol | title_case }},
{% endfor -%}
}
{% endif -%}

lazy_static! {
    pub static ref {{ schema.name | const_case }}_SCHEMA: Schema = Schema::parse(&json!({{ schema.json }})).unwrap();
}

impl AvroSchema for {{ schema.name | title_case }} {
    fn get_schema() -> Schema {
        {{ schema.name | const_case }}_SCHEMA.clone()
    }
}

impl <'a> crate::_io::AvroSchemaRef<'a> for {{ schema.name | title_case }} {
    fn get_schema_ref() -> &'a Schema {
        &{{ schema.name | const_case }}_SCHEMA
    }
}

impl {{ schema.name | title_case }} {
    pub fn schema() -> &'static Schema { &{{ schema.name | const_case }}_SCHEMA }

    pub fn reader<R: Read>(input: R) -> AvroResult<crate::_io::TypedReader<'static, R, {{ schema.name | title_case }}>> {
        crate::_io::TypedReader::<R, {{ schema.name | title_case }}>::from_type(input)
    }

    pub fn writer<W: Write>(output: W) -> AvroResult<apache_avro::Writer<'static, W>> {
        apache_avro::Writer::new(&{{ schema.name | const_case }}_SCHEMA, output)
    }
}

{% endfor -%}


