{% if params.schemas | length > 0 -%}
use std::io::{Read, Write};

use apache_avro::{AvroResult, schema::Schema};
use lazy_static::lazy_static;
use serde_json::json;
{% endif -%}

{% if params.is_lib -%}
pub mod _unions;
{% endif -%}

{% for mod in params.submodules -%}
pub mod {{ mod }};
{% endfor -%}

{% macro render_type(schema) -%}
{%- if schema.type == "null" -%}
    ()
{%- elif schema.type == "boolean" -%}
    bool
{%- elif schema.type == "int" -%}
    i32
{%- elif schema.type == "long" -%}
    i64
{%- elif schema.type == "float" -%}
    f32
{%- elif schema.type == "double" -%}
    f64
{%- elif schema.type == "string" -%}
    String
{%- elif schema.type == "bytes" -%}
    Vec<u8>
{%- elif schema.type == "fixed" -%}
    [u8;{{ schema.size }}]
{%- elif schema.type == "ref" -%}
    crate::{{ schema.fullname | replace(from=".", to="::") }}
{%- elif schema.type == "union" -%}
    {{ self::render_union_type(schema=schema) }}
{%- else -%}
    () /* unknown type: {{ schema.type }} */
{%- endif -%}
{% endmacro -%}

{% macro render_generic_union_type(schema) -%}
crate::_unions::Union{{ schema.variants | length }}<{% for variant in schema.variants %}{{ self::render_type(schema=variant) }}{% if not loop.last %}, {% endif %}{% endfor %}>
{%- endmacro -%}

{% macro render_union_type(schema) -%}
{%- if schema.variants | length == 2 -%}
    {%- if schema.variants[0].type == "null" -%}
        Option<{{ self::render_type(schema=schema.variants[1]) }}>
    {%- elif schema.variants[1].type == "null" -%}
        Option<{{ self::render_type(schema=schema.variants[0]) }}>
    {%- else -%}
        {{ self::render_generic_union_type(schema=schema) }}
    {%- endif -%}
{%- else -%}
    {{ self::render_generic_union_type(schema=schema) }}
{%- endif -%}
{%- endmacro -%}


{% macro render_record_field(name, schema) -%}
    {# #}   pub {{ name }}: {{ self::render_type(schema=schema) }},
{% endmacro render_record_field -%}


{% for schema in params.schemas -%}
{% if schema.type == "record" -%}
#[derive(serde::Serialize, serde::Deserialize)]
pub struct {{ schema.name }} {
{% for field in schema.fields -%}
    {{ self::render_record_field(name=field.name, schema=field.type) -}}
{% endfor -%}
}
{% elif schema.type == "fixed" -%}
#[derive(serde::Serialize, serde::Deserialize)]
pub struct {{ schema.name }}(pub [u8;{{schema.size}}]);
{% elif schema.type == "enum" -%}
#[derive(serde::Serialize, serde::Deserialize)]
pub enum {{ schema.name }} {
{% for symbol in schema.symbols -%}
{# #}    #[serde(rename="{{ symbol }}")]
{# #}    {{ symbol | title_case }},
{% endfor -%}
}
{% endif -%}

lazy_static! {
    pub static ref {{ schema.name | const_case }}_SCHEMA: Schema = Schema::parse(&json!({{ schema.json }})).unwrap();
}

impl {{ schema.name | title_case }} {
    pub fn schema() -> &'static Schema { &{{ schema.name | const_case }}_SCHEMA }

    pub fn reader<R: Read>(input: R) -> AvroResult<apache_avro::Reader<'static, R>> {
        apache_avro::Reader::with_schema(&{{ schema.name | const_case }}_SCHEMA, input)
    }

    pub fn read<'a, R: Read>(reader: &mut apache_avro::Reader<'a, R>) -> Option<AvroResult<{{ schema.name | title_case }}>> {
        match reader.next() {
            None => None,
            Some(val_res) => {
                Some(val_res.and_then(|val| apache_avro::from_value(&val)))
            }
        }
    }

    pub fn writer<W: Write>(output: W) -> apache_avro::Writer<'static, W> {
        apache_avro::Writer::new(&{{ schema.name | const_case }}_SCHEMA, output)
    }

    pub fn write<'a, W: Write>(&self, writer: &mut apache_avro::Writer<'a, W>) -> AvroResult<usize> {
        writer.append_ser(self)
    }
}

{% endfor -%}


