{% import "types.jinja" as types -%}
{% import "encode.jinja" as encode -%}
{% import "decode.jinja" as decode -%}

#pragma once

// Includes needed for types that can be used by generated code
// The code generator may narrow down the includes to only those needed by this particular header
// in the future
#include <algorithm>
#include <array>
#include <map>
#include <memory>
#include <optional>
#include <variant>
#include <vector>

#include "avro/Encoder.hh"
#include "avro/Decoder.hh"
#include "avro/Specific.hh"

#include "boost/uuid/uuid.hpp"
#include "boost/uuid/uuid_io.hpp"
#include "boost/lexical_cast.hpp"

{% for incl in params.includes -%}
#include "{{ incl }}"
{% endfor %}

// Forward declarations for record types
{%- for record_ref in params.record_refs %}
namespace {{ record_ref.namespace | replace(".", "::") }} { struct {{ record_ref.name | title_case }}; }
{%- endfor %}


namespace {{ params.namespace }} {

//
// Enum and Fixed types
//
{% for schema in params.schemas -%}
{%- if schema.type == "enum" %}
// Schema {{ schema.fullname }}
class {{ schema.name | title_case }} {
public:
    enum ValueType: size_t {
{%- for symbol in schema.symbols %}
        {{ symbol | const_case }},
{%- endfor %}
    };

    {{ schema.name | title_case }}():m_value() {}
    {{ schema.name | title_case }}(ValueType value):m_value(value) {}
    {{ schema.name | title_case }}(const {{ schema.name | title_case }}& other):m_value(other.m_value) {}
    {{ schema.name | title_case }}({{ schema.name | title_case }}&& other):m_value(std::move(other.m_value)) {}

    ~{{ schema.name | title_case }}() = default;


    static {{ schema.name | title_case }} from_string(std::string_view s) {
{%- for symbol in schema.symbols %}
        {% if not loop.first %}else {% endif %}if (s == "{{ symbol }}") { return {{ schema.name | title_case }}({{ symbol | const_case }}); }
{%- endfor %}
        else { throw std::runtime_error("Unknown enum value name: " + std::string(s)); }
    }

    std::ostream& operator<<(std::ostream& os) const { return os << to_string(); }
    std::string_view to_string() const {
        switch(m_value) {
{%- for symbol in schema.symbols %}
        case {{ symbol | const_case }}:
            return "{{ symbol }}";
{%- endfor %}
        default:
            throw std::runtime_error("Invalid enum value");
        }
    }

    ValueType value() const { return m_value; }
    void operator=(ValueType value) { m_value = value; }
    void operator=(const {{ schema.name | title_case }}& other) { m_value = other.m_value; }

private:
    ValueType m_value;
};

{%- elif schema.type == "fixed" %}
// Schema {{ schema.fullname }}
{%- if schema.logical_type is defined and schema.logical_type == "uuid" %}
struct {{ schema.name | title_case }} { boost::uuids::uuid value; };
{%- else %}
struct {{ schema.name | title_case }} { std::array<uint8_t, {{ schema.size }}> value; };
{%- endif %}
constexpr std::string_view {{ schema.name | const_case }}_SCHEMA_JSON = R"({{ schema.json }})";

{% endif -%}
{% endfor -%}

//
// Record types
//
{%- for schema in params.schemas %}
{%- if schema.type == "record" %}
// Schema {{ schema.fullname }}
struct {{ schema.name | title_case }} {
{%- for field in schema.fields %}
    {{ types.render_type(schema=field.type) }} {{ field.name | snake_case }};
{%- endfor %}
};
constexpr std::string_view {{ schema.name | const_case }}_SCHEMA_JSON = R"({{ schema.json }})";

{% endif -%}
{% endfor -%}
}

//
// Encoders/Decoders
//

namespace avro {
{% for schema in params.schemas -%}
template<>
struct codec_traits<{{ schema.namespace | replace(".", "::") }}::{{ schema.name | title_case }}> {
    static void encode(Encoder& e, const {{ schema.namespace | replace(".", "::") }}::{{ schema.name | title_case }}& val) {
{%- if schema.type == "enum" %}
        e.encodeEnum(val.value());
{%- elif schema.type == "fixed" %}
{%- if schema.logical_type is defined and schema.logical_type == "uuid" %}
        e.encodeFixed(val.value.data(), val.value.size());
{%- else %}
        e.encodeFixed(val.value.data(), {{ schema.size }});
{%- endif %}
{%- elif schema.type == "record" %}
{%- for field in schema.fields %}
        {{ encode.render_encode_type(schema=field.type, encoder_ref="e", val=["val.", field.name | snake_case] | join()) | indent(8) }}
{%- endfor %}
{%- endif %}
    }

    static void decode(Decoder& d, {{ schema.namespace | replace(".", "::") }}::{{ schema.name | title_case }}& val) {
{%- if schema.type == "enum" %}
        val = static_cast<{{ schema.namespace | replace(".", "::") }}::{{ schema.name | title_case }}::ValueType>(d.decodeEnum());
{%- elif schema.type == "fixed" %}
{%- if schema.logical_type is defined and schema.logical_type == "uuid" %}
        std::vector<uint8_t> vec = d.decodeFixed({{ schema.size }});
        std::copy(vec.cbegin(), vec.cend(), val.value.begin());
{%- else %}
        std::vector<uint8_t> vec = d.decodeFixed({{ schema.size }});
        std::copy_n(vec.begin(), {{ schema.size }}, val.value.begin());
{%- endif %}
{%- elif schema.type == "record" %}
        if (avro::ResolvingDecoder *rd = dynamic_cast<avro::ResolvingDecoder *>(&d)) {
            const std::vector<size_t> fo = rd->fieldOrder();
            for (std::vector<size_t>::const_iterator it = fo.begin(); it != fo.end(); ++it) {
                switch (*it) {
{%- for field in schema.fields %}
                case {{ loop.index0 }}:
                    {{ decode.render_decode_type(schema=field.type, decoder_ref="d", val=["val.", field.name | snake_case] | join()) | indent(20) }}
                    break;
{%- endfor %}
                }
            }
        } else {
{%- for field in schema.fields %}
            {{ decode.render_decode_type(schema=field.type, decoder_ref="d", val=["val.", field.name | snake_case] | join()) | indent(12) }}
{%- endfor %}
        }
{%- endif %}
    }
};

{%- if schema.type == "record" %}
template<>
struct codec_traits<std::unique_ptr<{{ schema.namespace | replace(".", "::") }}::{{ schema.name | title_case }}>> {
    static void encode(Encoder& e, const std::unique_ptr<{{ schema.namespace | replace(".", "::") }}::{{ schema.name | title_case }}>& val) {
        avro::encode(e, *val);
    }

    static void decode(Decoder& d, std::unique_ptr<{{ schema.namespace | replace(".", "::") }}::{{ schema.name | title_case }}>& val) {
        val = std::make_unique<{{ schema.namespace | replace(".", "::") }}::{{ schema.name | title_case }}>();
        avro::decode(d, *val);
    }
};
{%- endif %}

{% endfor -%}
}
